.create-quiz-page {
  width: 100%;
  height: 100%;
  position: relative;
}
.create-quiz-page button.top {
  width: 5rem;
  margin-left: 90%;
  margin-bottom: 5px;
  margin-right: 2rem;
  border: none;
  background-color: #b49bd1;
  color: #fefeff;
  font-weight: 800;

}
.create-quiz-page button.top:hover {
  background-color: #8f77ac;
}
.topics-menu {
  width: 300px;
  flex: 0 1 400px;
  min-width: 300px;
}

.create-quiz-form {
  display: flex;
  background-color: blue;
  padding: 1rem 10px 1rem 10px;
  align-items: center;
  gap: 0.75rem;
}
.quiz-name-label {
  flex: 1 0 500px;

}

.quiz-name-label input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding-left: 0.5rem;
}

.side-bar {
  background-color: #8f77ac;
  display: flex;
  flex-direction: column;
  grid-column: 1/2;
  grid-row: 1/7;
  width: 300px;
  height: 100%;
  border-right: 1px solid rgb(158, 158, 158);
}

.create-question-container {
  height: 100vh;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  grid-template-rows: repeat(6, 1fr);
}

span.x {
  align-self: flex-start;
  font-size: 0.8rem;
  padding-left: 0.35rem;
  cursor: pointer;
}
span.plus {
  align-self: flex-end;
  position: relative;
  background-color: #e3d8f0;
  padding: 2px 7px;
  margin-left: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: #1e1b22;
  z-index: 9;
}
span.plus:hover {
  background-color: #e3dfeb;
}
.question-hover {
  background-color: black;
  opacity: 75%;
  border-radius: 15px;
  color: white;
  padding: 5px 10px;
  white-space: nowrap;
}

.title-topic {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: #554666;
  color: #f8f8f8;
}

.title-topic h2 {
  font-size: 1rem;
  margin-right: 10px;
}

.title-topic p {
  align-self: flex-end;
  font-size: 0.8rem;
  margin-bottom: 5px;
  white-space: nowrap;
  margin-right: auto;
}

.publish-modal {
  /* grid-column:2/3;
  grid-row: 1/3; */
  /* background-color: black; */
  outline: 3px solid rgb(190, 79, 79);
  color: 5px solid rgb(190, 79, 79);
  z-index: 99;
  padding: 3px 0;
  width: 600px;
  margin-left: 30px;
  position: fixed;
  margin-left: 40%;
}
