.create-quiz-page {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.create-quiz-page button.top {
  width: 5rem;
  align-self: flex-end;
  margin-right: 2rem;
  border: none;
  background-color: #b49bd1;
  color: #fefeff;
  font-weight: 800;

}
.create-quiz-page button.top:hover {
  background-color: #8f77ac;
}
.topics-menu {
  width: 300px;
  flex: 0 1 400px;
  min-width: 300px;
}

.create-quiz-form {
  display: flex;
  background-color: blue;
  padding: 1rem 10px 1rem 10px;
  align-items: center;
  gap: 0.75rem;
}
.quiz-name-label {
  flex: 1 0 500px;

}

.quiz-name-label input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding-left: 0.5rem;
}

.side-bar {
  background-color: #8f77ac;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100%;
}

.create-question-container {
  height: 100vh;
  position: relative;
}

span.x {
  align-self: flex-start;
  font-size: 0.8rem;
  padding-left: 0.35rem;
  cursor: pointer;
}
span.plus {
  align-self: flex-end;
  position: relative;
  background-color: #e3d8f0;
  padding: 2px 7px;
  margin-left: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: #1e1b22;
}
span.plus:hover {
  background-color: #e3dfeb;
}
.question-hover {
  position:absolute;
  right: -5.5rem;
  top: -23px;
  background-color: black;
  opacity: 75%;
  border-radius: 15px;
  color: white;
  padding: 5px 10px;
  white-space: nowrap;
}

.title-topic {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: #554666;
  color: #e9e5ec;
}

.title-topic h2 {
  font-size: 1rem;
  margin-right: 10px;
}

.title-topic p {
  align-self: flex-end;
  font-size: 0.8rem;
  margin-bottom: 5px;
  white-space: nowrap;
  margin-right: auto;
}
