.num-container{
  display: flex;
  background-color: black;
  gap: 1rem;
  font-size: 1.35rem;
  color: azure;
}
.num-picker {

}
.ans {
  background-color: pink;
  display: flex;
  gap: 0.25rem;
  margin: 5px 0;
  font-size: 1.25rem;
}

.ans span {
  margin-right: 1rem;
}
