.add-answers-container {
  background-color:#f9f5ff;
  margin-top: 2rem;
  /* width: 100%; */
  grid-column: 2/3;
  grid-row: 1/6;
  display: inline-block;
  border-radius: 30px;
  min-width: 600px;
  position: relative;
  margin-left: 2rem;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 3px rgb(78, 78, 78), -1.5px -1.5px 1px rgb(156, 156, 156);
}

.add-answers-button {
  font-size: 13px;
  align-self: flex-end;
  margin-left: auto;
  letter-spacing: -0.5px;
  font-weight: 900;
}

.question-prompt-input {
  border: none;
  background-color:#f9f5ff;
  height: 70px;
  margin-top: 5rem;
  padding-left: 5rem;
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.question-prompt-input  {
  background-color:#faf7fd;
  border: none;
  outline: none;
}

.publish {
  grid-column: 3/4;
  grid-row: 5/6;
  background-color: rgb(56, 54, 56);
  color: rgb(240, 239, 239);
  font-size: 1.3rem;
  width: 7rem;
  height: 2.75rem;
  border-radius: 6px;
  place-self: end center;
  cursor: pointer;
  margin-bottom: 5px;
}

.publish:hover {
  background-color: rgb(78, 76, 78);
}

.answers-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.individual-answer {
  display: flex;
  gap: 1rem;
  background-color: white;
  padding: 15px 5px;
  position: relative;
}

.add-answer-btn {
  margin-top: 0.5rem;
  margin-left: 0.8rem;
  cursor: pointer;
  width: 100px;
}

.add-answer-btn:hover {
  color: rgb(11, 11, 199);
  text-decoration: underline;
}

.individual-answer input {
  width: 100%;
  outline: none;
  border: none;
  font-size: 1.25rem;
  color: black;
  font-weight: 500;
}
.add-answers-container p{
  margin-left: 100px;
  margin-top: -11px;
  font-size: 0.75rem;
}

.individual-answer span {
  font-weight: 900;
  padding: 0 10px;
}
.individual-answer input::placeholder {
  color: black;
}
.remove-answer {
  position: absolute;
  cursor: pointer;
  right: -7px;
  font-size: 1.3rem;
  color: rgb(51, 51, 51);
}

.correct-menu {
  top: 5px;
  right: -1.5rem;
  max-width: 70px;
  width: 20%;
  position: absolute;
  align-self: flex-start;
}
