/* TODO Add site wide styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}
#root{
  background-color: rgb(246, 242, 247);
  height: 100%;
}
html{
  /* position: relative; */
  height:100%;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

body {
  height: 100%;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  /* margin-bottom: 200px; */
  background-color: rgb(246, 242, 247);
  /* max-height: max-content; */
}
#wrapper {
  flex: 1 0 auto;
}
#flex-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


input,
button,
textarea,
select {
  font: inherit;
}
section {
  width: 100%;
}
